<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "/views/public/css.html" ?>
</head>

<body>

    <!-- 侧边栏 -->
    <?php include "/views/public/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "/views/public/header.html" ?>
            <!-- 讲师列表 -->
            <div class="body teacher-list">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">讲师管理</a></li>
                    <li class="active">讲师列表</li>
                </ol>
                <div class="page-title">
                    <a href="/teacher/add" class="btn btn-success btn-sm pull-right">添加讲师</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm">搜索</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>昵称</th>
                                <th>出生日期</th>
                                <th>性别</th>
                                <th>手机号码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="teacherlist">
                            <!--挖个坑-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 讲师信息 -->
    <div class="modal fade" id="teacherModal">
        <!--挖个坑-->
    </div>
    <!--讲师列表的模板-->
    <script type="text/template" id="teacherlist-tpl">
        {{each result as item index}}
        <tr>
            <td>{{index+1}}</td>
            <td>{{item.tc_name}}</td>
            <td>{{item.tc_roster}}</td>
            <td>{{item.tc_birthday}}</td>
            <!--
                需要注意的地方:在模板渲染性别时,后台返回的数据是0和1,要将
                后台返回的数据转换成男和女,所以要进行判断item.tc_gender的值,
                然后匹配男和女
            -->
            {{if item.tc_gender== "0"}}
            <td>男</td>
            {{else}}
            <td>女</td>
            {{/if}}
            <td>{{item.tc_cellphone}}</td>
            <!--为了在查看,编辑,注销功能时,使用上面的list接口渲染出来的tc_id,所以用了一个自定义属性data-id来存储上面返回的tc_id的值,以便后面使用-->
            <!--为何把data-id放到td里面,就是因为下面的三个功能都要使用到这个tc_id作为每个讲师的身份标识-->
            <td data-id="{{item.tc_id}}">
                <a href="javascript:;" data-toggle="modal" class="btn btn-info btn-xs btn-check">查 看</a>
                <!--编辑功能:在a链接跳转的时候,给href拼接上一个当前讲师的id,显示在地址栏中,是为了在编辑页面能够找到对应的讲师信息,然后进行编辑-->
                <a href="/teacher/add?id={{item.tc_id}}" class="btn btn-info btn-xs">编 辑</a>
                <!--根据讲师列表返回的当前讲师的tc_status的值,来判断是启用状态还是注销状态-->
                <!--逻辑:当你的状态是1时,证明当前的讲师是启用状态,所以要把它的样式改为注销,以便管理员可以对你进行注销操作-->
                {{if item.tc_status== 0}}
                <a href="javascript:;" data-status="{{item.tc_status}}" class="btn btn-warning btn-xs btn-onoff">注 销</a>
                {{else}}
                <a href="javascript:;"  data-status="{{item.tc_status}}"  class="btn btn-success btn-xs btn-onoff">启 用</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>
    <!--查看讲师的模态框模板-->
    <script type="text/template" id="checklist">
        <div class="modal-dialog" style="width: 750px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="panel-title">讲师信息</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th>姓名:</th>
                                <td>{{tc_name}}</td>
                                <th>职位:</th>
                                <td colspan="3">讲师</td>
                                <td rowspan="4" width="128">
                                    <div class="avatar">
                                        {{if tc_avatar==""}}
                                        <img src="/views/static/images/default.png" alt=""> {{else}}
                                        <img src="{{tc_avatar}}" alt=""> {{/if}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>花名:</th>
                                <td>{{tc_roster}}</td>
                                <th>出生日期:</th>
                                <td colspan="3">{{tc_birthday}}</td>
                            </tr>
                            <tr>
                                <th>性别:</th>
                                {{if tc_gender=="0"}}
                                <td>男</td>
                                {{else}}
                                <td>女</td>
                                {{/if}}
                                <th>入职日期:</th>
                                <td colspan="3">{{tc_join_date}}</td>
                            </tr>
                            <tr>
                                <th>手机号码:</th>
                                <td colspan="2">{{tc_cellphone}}</td>
                                <th>邮箱:</th>
                                <td colspan="2">{{tc_email}}</td>
                            </tr>
                            <tr>
                                <th>籍贯:</th>
                                <td colspan="6" class="hometown">{{tc_hometown}}</td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="introduce">
                                        {{tc_introduce}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </script>


    <?php include "/views/public/js.html" ?>
    <script>
        require(["static/js/teacher/list"]);
    </script>
</body>

</html>